// General
.dark {
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

.content {
  z-index: 1;
}

section {
  position: relative;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-mobile {
  padding-left: 0;
  padding-right: 0;
}

.vert-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;

  @include sm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.overlay::after {
  content: "";
  display: table-cell;
  background: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jump {
  position: absolute;
  top: 0;
}

// Hero
.hero {
  min-height: 537px;
  position: relative;
  text-align: center;
  background: $grey url('../images/backgrounds/m/hero-placeholder.jpg');
  background-position: center;
  background-size: cover;
  color: $white;

  &.overlay::after {
    content: "";
    display: table-cell;
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include sm {
    min-height: 755px;
    background: $grey url('../images/backgrounds/hero-placeholder.jpg');
    background-position: center;
    background-size: cover;
  }
}

#logo {
  path:nth-child(1) {
    stroke-dasharray: 449.97;
    stroke-dashoffset: 449.97;
    animation: line-anim 5s ease-out forwards .25s;
    fill: transparent;
  }
  path:nth-child(2) {
    stroke-dasharray: 436.8px;
    stroke-dashoffset: 436.8px;
    animation: line-anim 5s ease forwards 0.5s;
    fill: transparent;
  }
  path:nth-child(3) {
    stroke-dasharray: 436.7px;
    stroke-dashoffset: 436.7px;
    animation: line-anim 5s ease forwards 0.75s;
    fill: transparent;
  }
  path:nth-child(4) {
    stroke-dasharray: 509.66;
    stroke-dashoffset: 509.66;
    animation: line-anim 5s ease forwards 1s;
    fill: transparent;
  }
}

.subnav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  @include sm {
    flex-direction: row;
    padding: 70px 0;
  }

  a:hover {
    color: $grey;
    transition: .5s;
  }
}

// Artist Cards
.artist-card {
  padding: 35px 0;

  @include sm {
    flex-direction: row;
    padding: 70px 0;
  }

  &__title {
    margin-bottom: 50px;

    h4 {
      margin-bottom: 0;
      padding-top: .25em;
      display: inline-block;
      position: relative;
    }

    h4::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 8px;
      background-color: #a29d40;
      transition: 1s ease-in-out .25s;
      -webkit-transition: 1s ease-in-out .25s;
      -moz-transition: 1s ease-in-out .25s;
      -o-transition: 1s ease-in-out .25s;
    }
  }

  // active artist card styles
  &.active h4::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #a29d40;
  }

  &__menu {
    padding: 30px;
    position: relative;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li a {
      font-family: $roboto-cd;
      font-size: rem-calc(24);
      // line-height: em-calc(32,24);
      line-height: 1em;
      display: block;
      margin-bottom: .5em;
      transition: .5s;
    }

    li a:hover {
      color: $ochre;
    }

    li a.selected {
      color: $ochre;
    }
  }

  &__menu::after {
    content: "";
    @include top-left-frame;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    @include sm {
      flex-flow: row;
    }

    figure {
      height: 250px;
      width: 250px;
      background-color: #000;
      margin: 10px 0;

      @include sm {
        margin: 0;
        flex: 0 1 32%;
      }
    }

  }

  &__blurb {
    padding: 30px 0 0;
    position: relative;

    @include sm {
      padding: 50px 0 30px;
    }
  }

  &__blurb::after {
    content: "";
    @include bottom-right-frame;
  }

}

// .divider {
//   line {
//     stroke-dasharray: 500px;
//     stroke-dashoffset: 500px;
//     animation: line-anim 5s ease forwards 0.75s;
//   }
// }
